In [2]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
dfr = pd.read_csv('D:\AILAB\Result.csv')
dfr
dfr['Result'].unique()
pd.get_dummies(dfr['Result'])

   286  292  294  297  299
0    0    0    1    0    0
1    0    1    0    0    0
2    1    0    0    0    0
3    0    0    0    0    1
4    0    0    0    1    0